@import url('thuvien.css');
@import url('style_Duy.css');
@import url('style_Phat.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* import */

/* a */
a{
    text-decoration: none;
    
}

li{
    list-style: none;
}
/* nút button nha bạn */
.btn__web2{
    background-color: #dc4f72;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 52px;
    padding: 0 30px;  
    font-weight: 600;
    border: 1px solid #dc4f72
}
.btn__web2:hover{
    color:white ;
    
}
.btn__web1{
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
 
    border: 1px solid #dc4f72;
    font-weight: 600;
    color: #dc4f72;
    background: transparent;
    transition: all .5s;
}
.btn__web1:hover{
    color: white;
    background: #dc4f72;
}


@media (min-width:200px){
    .container{
        width: 90%;
        margin: 0 auto;
    }
    /* button */
    .btn__web2,
    .btn__web1{
        line-height: 44px;
        padding: 0 20px;
    }

    /*client  */
    .client__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

    }
    /* about */
  
    /* number */
    .number_item{
        width: 100%;
        margin-top: 10px;
    }
    .number_item h3{
    font-size: 40px;
}
/*  */

    /*demo  */
    .demo__box h2{
        font-size: 30px;
    }  
    /* footer */
    .footer__bottom{
        display: block;
      text-align: center;
    }
    .footer__letter{
        max-width: 100%;
    }
  
}
@media(min-width:600px){
    /* container */
    .container{
        width: 100%;
       
    }
    /* client */
    .client__item{
        display: flex;
        flex-direction: row;
        align-items: normal;
        text-align: unset;
        justify-content: unset;

    } 
    /* demo */
       .demo__box h2{
        font-size: 45px;
    }
    /* button */
    .btn__web2,
    .btn__web1{
        line-height: 52px;
        padding: 0 30px;  
    }
    /* number */
    .number_item{
        width: 45%;
    }
.number_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

}
@media (min-width:800px){
    .project .nav-tabs{
        display: flex;
        flex-direction: row;
        width: 100%;
        }
}
@media (min-width:1100px){
  
    .number_box{
    
    flex-wrap: nowrap;
    
    
    } 
    .number .number_box .number_item{
        width: 33%;
    }
}
@media (min-width:1260px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    /* footer */
    .footer__bottom{
    display: flex;
    justify-content: space-between;
  
    
}
/* number */
.number_item h3{
    font-size: 60px;
}
}
@media (min-width:1500px) {
    .container{
    width: 60%;
    margin: 0 auto;
}

.footer__letter{
    max-width: 530px;
}
}