/* about */
.about{
    background-color: #f7f9fc;
    padding: 20px 0 60px;
}
.about .image img{
    box-shadow: 0 4px 10px rgba(0, 0, 0, .4);
}
/* number */
.dark .number_item{
    background-color: black;
}
.number_item{
   
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    padding: 15px 30px;
    margin-right:2%;
    background-color: #fff;
}
.number_item h4{
    font-size: 18px;
}
.number_item h3 {
    font-size: 60px;
    color: #dc4f72;
}
/*  */
.nav-tabs{

width: 100%;

}
.project #myTabContent .row .col-6 {

}
#myTabContent{
}
.dark .project {
   color: white;
}
.project{
   width: 100%;

}

#myTab .nav-item{
    width: 33.33%;
    position: relative;
}
#myTabContent{
    padding: 20px 0;
  
}
#myTab .nav-item::after{
    content:"";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #656f7b;
}
.nav-item .nav-link1{
    width: 100%;
  
border: none;
background-color: transparent;
font-weight: 700;
font-size: 20px;
padding: 5px 0 15px;
position: relative;
}
.nav-tabs{
    --bs-nav-tabs-border-width:none;

    padding: 20px 0;
    
}
#myTab .nav-link1.active{
    color: #dc4f72;
    position: relative;
}
.nav-link1.active::after{
    content:"";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dc4f72;
    z-index: 1;
}
/* demo */
.dark .demo{
    color: white;
}
.demo{
   
}
.demo__box{
   max-width: 700px;
    margin: 0 auto;
    
}
.dark .client{

}

/* footer */
.dark .resp-tab-item,
.dark .resp-tab-item.hor_1{
    background-color: black;
}

.dark .footer_bg{
    background-color: #191c1d;
    color: white;
}
.dark .resp-tab-content{
    background-color: black;
}
.footer_bg{
    background-color: #f7f9fc;
    

}
.footer_top{
   border-bottom: 1px solid #eeeeee;
}

.footer_top .footer__box .footer__item h4{
    margin-bottom: 20px;
    font-size: 19px;
}
.footer__item{
    
}
.row >*{
    padding-left:2%;
}
.footer_top .footer__box .footer__item a{
color: #656f7b;
display: block;
transition: all .5s;
margin-top: 8px;
}
.footer_top .footer__box .footer__item a:hover{
    color: #dc4f72;
}
.dark .footer__news{
    background: black;
}
.footer__news{
    background:#fff;
   padding: 2em;
   box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
   border-radius: 5px;
   margin-top: 20px;
   
}
.footer__news>p{
font-size: 18px;
}
.dark .footer__news .footer__form .email{
    background-color: #191c1d;
}
.footer__news .footer__form .email{
width: 80%;
height: 40px;
padding: 0 20px;
background-color:#f7f9fc ;
border: none;
outline: none;
}
.footer__news .footer__form .submit{
    width: 18%;
    height: 40px;
    border: none;
    background-color: #dc4f72;
    color: white;
}

.footer__letter{
    padding: 0 0 40px;
}

.footer_bg .social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark .footer_bg .social li a{
    color: white;
}
.footer_bg .social li a{
    margin-right: 20px;
    color: black;
    transition: all .5s;
}
.footer_bg .social li a:hover{
    color: #dc4f72;
}
.footer__bottom{
    padding: 20px 0;
}
.columns{
color: #656f7b;
}
.columns a{
    color: #656f7b;
    transition:all .5s;
}
.columns a:hover{
    color: #dc4f72;
}
.text_web{
    padding: 20px 0;
    max-width: 700px;
   
   
}
.dark .about{
    background-color: #191c1d;
    color: white;
}
.about .text_web{
    max-width: 500px;
}
/* owl */
.client{
    background: linear-gradient(to left ,white, rgba(255,255,255,0.5)), url('../img/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    background-attachment:fixed;
}
.dark .client{
    background: linear-gradient(to right ,black, rgba(255,255,255,0.5)), url('../img/banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    color: white;
}

.dark .client__item{
    background-color: #191c1d;
    color: white;
}
.client__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.text_web h2{
    font-size: 46px;
}
.text_web h4{
    font-size: 16px;
    color: #dc4f72;
}
.client__item_dis{
    
    width: 100%;
}
.client__item{
    
    display: flex;
    max-width: 100%;
    background-color: #fff;
    margin-right: 20px;
    padding: 20px 45px;
    
}
.client__item_left {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #dc4f72;
    overflow: hidden;
}
.client__item_left img{
    width: 100%;
}
.client__item_right p{
    max-width: 290px;
}
.fa-quote-left{
    font-size: 30px;
    margin: 0 10px;
    color: #eeeeee;
}
.fa-quote-left:before {
    content: "";
}
.client__item .name h4{
    font-size: 17px;
    color: #dc4f72;
}
.client__item .name p{
    font-size: 12px;
    color: #656f7b;
}
/*  */
.owl-dots{
   
    margin-top: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
    
}

.client .owl-carousel .owl-nav button.owl-next, .client .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  width: 35px;
    height: 5px;
    margin-right: 10px;
    background: #fff;
    
}
.owl-carousel button.owl-dot.active{
    background-color: #dc4f72;
}


/*  */
